<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potato Website</title>
</head>
<body style="background-color: black; color: white;">
<h1 style="text-align: center;">LOVE YOU MOM</h1>
<div style="text-align:center;">
  <img
        src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExand2dGgwODNoNDk2ZTE4Ym11anRjMnNibWw1cWpzM2Zya2J2eWR3ciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1OrIIOIcRTDaNidc5p/giphy.gif"
        class="spin-cat"
        style="height: 430px;">
</div>


</body>
</html>

